:root {
    --blue-1: #033540;
    --blue-2: #015366;
    --blue-3: #63898c;
    --blue-4: #a7d1d2;
    --blue-5: #e0f4f5;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: var(--blue-2);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: var(--blue-5);
}

.container {
    background: var(--blue-5);
    width: 40%;
    height: 80%;
    padding: 20px;
    /* border: 5px solid black; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label {
    font-weight: bold;
}

.child {
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.child input {
    background: transparent;
    width: 98%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
}

.child input:focus {
    outline: none;
}

.text-area {
    grid-column: 1/-1;
    /* grid-row: 4/6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-area textarea{
    background: transparent;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
}

.text-area textarea:focus {
    outline: none;
}

.panelContainerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panelContainerButtons button {
    background: var(--blue-2);
    color: var(--blue-5);
    width: 70%;
    height: 80%;
    /* border: 1px solid black; */
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.panelContainerButtons button:hover {
    background: var(--blue-1);
}

a {
    text-decoration: none;
    color: var(--blue-5);
}