
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #015366;
}

.main-container {
    text-align: center;
}

h1 {
    color: #E0f4f5;
    margin: 20px;
}

h2 {
    color: #033540;
    margin-bottom: 20px;
}


.login-container {
    background-color: #a7d1d2;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 0 auto; 
}



form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #033540;
    color: #E0f4f5;
    font-size: 16px;
}

form button {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #033540;
    color: #63898c;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #63898c;
    color: #033540;
}

form input::placeholder {
    color: #63898c;
}

